<h2>Clustered Giblets</h2>
<div class="container">
    <div class="jumbotron">
        <svg id="visualisation" width="1000" height="500"></svg>
        <script>
            function InitChart() {
                var aaplP = [{
                    "close": "96.48425963",
                    "date": "1"
                },
                {
                    "close": "97.36424148",
                    "date": "2"
                },
                {
                    "close": "99.25226117",
                    "date": "3"
                },
                {
                    "close": "100.2496999",
                    "date": "4"
                },
                {
                    "close": "99.699522",
                    "date": "5"
                },
                {
                    "close": "99.86416043",
                    "date": "6"
                },
                {
                    "close": "99.19562084",
                    "date": "7"
                },
                {
                    "close": "96.93120153",
                    "date": "8"
                },
                {
                    "close": "98.36184135",
                    "date": "9"
                },
                {
                    "close": "100.15393941",
                    "date": "10"
                },
                {
                    "close": "99.32394033",
                    "date": "11"
                },
                {
                    "close": "98.84991939",
                    "date": "12"
                },
                {
                    "close": "99.31206124",
                    "date": "13"
                },
                {
                    "close": "99.14382131",
                    "date": "14"
                },
                {
                    "close": "97.87450029",
                    "date": "15"
                },
                {
                    "close": "97.42374068",
                    "date": "16"
                },
                {
                    "close": "97.62031929",
                    "date": "17"
                },
                {
                    "close": "97.01894012",
                    "date": "18"
                },
                {
                    "close": "96.10011953",
                    "date": "19"
                },
                {
                    "close": "95.73163957",
                    "date": "20"
                },
                {
                    "close": "95.41583925",
                    "date": "21"
                },
                {
                    "close": "96.34144031",
                    "date": "22"
                },
                {
                    "close": "95.47722022",
                    "date": "23"
                },
                {
                    "close": "93.76485781",
                    "date": "24"
                },
                {
                    "close": "92.26000015",
                    "date": "25"
                },
                {
                    "close": "93.06691966",
                    "date": "26"
                },
                {
                    "close": "94.31153846",
                    "date": "27"
                },
                {
                    "close": "95.10768034",
                    "date": "28"
                },
                {
                    "close": "95.97215976",
                    "date": "29"
                }
              ];


                var aaplA = [
                  {
                    "close": "96.43",
                    "date": "1"
                },
                  {
                    "close": "97.900002",
                    "date": "2"
                },
                  {
                    "close": "99.620003",
                    "date": "3"
                },
                  {
                    "close": "100.410004",
                    "date": "4"
                },
                  {
                    "close": "100.349998",
                    "date": "5"
                },
                  {
                    "close": "99.860001",
                    "date": "6"
                },
                  {
                    "close": "98.459999",
                    "date": "7"
                },
                  {
                    "close": "97.720001",
                    "date": "8"
                },
                  {
                    "close": "97.919998",
                    "date": "9"
                },
                  {
                    "close": "98.629997",
                    "date": "10"
                },
                  {
                    "close": "99.029999",
                    "date": "11"
                },
                  {
                    "close": "98.940002",
                    "date": "12"
                },
                  {
                    "close": "99.650002",
                    "date": "13"
                },
                  {
                    "close": "98.830002",
                    "date": "14"
                },
                  {
                    "close": "97.339996",
                    "date": "15"
                },
                  {
                    "close": "97.459999",
                    "date": "16"
                },
                  {
                    "close": "97.139999",
                    "date": "17"
                },
                  {
                    "close": "97.550003",
                    "date": "18"
                },
                  {
                    "close": "95.330002",
                    "date": "19"
                },
                  {
                    "close": "95.099998",
                    "date": "20"
                },
                  {
                    "close": "95.910004",
                    "date": "21"
                },
                  {
                    "close": "95.550003",
                    "date": "22"
                },
                  {
                    "close": "96.099998",
                    "date": "23"
                },
                  {
                    "close": "93.400002",
                    "date": "24"
                },
                  {
                    "close": "92.040001",
                    "date": "25"
                },
                  {
                    "close": "93.589996",
                    "date": "26"
                },
                  {
                    "close": "94.400002",
                    "date": "27"
                },
                  {
                    "close": "95.599998",
                    "date": "28"
                },
                  {
                    "close": "95.889999",
                    "date": "29"
                }
              ];

              var alnyP = [{
                  "close": "55.58783971",
                  "date": "1"
              },
              {
                  "close": "56.63397987",
                  "date": "2"
              },
              {
                  "close": "61.91172012",
                  "date": "3"
              },
              {
                  "close": "69.60342017",
                  "date": "4"
              },
              {
                  "close": "68.7836198",
                  "date": "5"
              },
              {
                  "close": "71.87014024",
                  "date": "6"
              },
              {
                  "close": "70.13786025",
                  "date": "7"
              },
              {
                  "close": "72.50845957",
                  "date": "8"
              },
              {
                  "close": "71.80976025",
                  "date": "9"
              },
              {
                  "close": "71.08882054",
                  "date": "10"
              },
              {
                  "close": "71.45171968",
                  "date": "11"
              },
              {
                  "close": "70.51854017",
                  "date": "12"
              },
              {
                  "close": "67.49369923",
                  "date": "13"
              },
              {
                  "close": "63.00741989",
                  "date": "14"
              },
              {
                  "close": "61.65960022",
                  "date": "15"
              },
              {
                  "close": "60.77156052",
                  "date": "16"
              },
              {
                  "close": "59.74522048",
                  "date": "17"
              },
              {
                  "close": "59.36944003",
                  "date": "18"
              },
              {
                  "close": "57.19811989",
                  "date": "19"
              },
              {
                  "close": "58.06329956",
                  "date": "20"
              },
              {
                  "close": "55.74683949",
                  "date": "21"
              },
              {
                  "close": "56.83193977",
                  "date": "22"
              },
              {
                  "close": "55.92355962",
                  "date": "23"
              },
              {
                  "close": "54.26785997",
                  "date": "24"
              },
              {
                  "close": "52.68937969",
                  "date": "25"
              },
              {
                  "close": "55.07186045",
                  "date": "26"
              },
              {
                  "close": "54.50301948",
                  "date": "27"
              },
              {
                  "close": "55.94583957",
                  "date": "28"
              },
              {
                  "close": "60.32483923",
                  "date": "29"
              }
            ];


              var alnyA = [
                {
                  "close": "56.07",
                  "date": "1"
              },
                {
                  "close": "57.810001",
                  "date": "2"
              },
                {
                  "close": "63.549999",
                  "date": "3"
              },
                {
                  "close": "70.57",
                  "date": "4"
              },
                {
                  "close": "67.57",
                  "date": "5"
              },
                {
                  "close": "71.720001",
                  "date": "6"
              },
                {
                  "close": "70.540001",
                  "date": "7"
              },
                {
                  "close": "74.120003",
                  "date": "8"
              },
                {
                  "close": "70.199997",
                  "date": "9"
              },
                {
                  "close": "72.599998",
                  "date": "10"
              },
                {
                  "close": "71.050003",
                  "date": "11"
              },
                {
                  "close": "69.879997",
                  "date": "12"
              },
                {
                  "close": "65.410004",
                  "date": "13"
              },
                {
                  "close": "63.169998",
                  "date": "14"
              },
                {
                  "close": "60.650002",
                  "date": "15"
              },
                {
                  "close": "60.580002",
                  "date": "16"
              },
                {
                  "close": "59.139999",
                  "date": "17"
              },
                {
                  "close": "58.380001",
                  "date": "18"
              },
                {
                  "close": "55.970001",
                  "date": "19"
              },
                {
                  "close": "56.639999",
                  "date": "20"
              },
                {
                  "close": "55.779999",
                  "date": "21"
              },
                {
                  "close": "56.139999",
                  "date": "22"
              },
                {
                  "close": "56.950001",
                  "date": "23"
              },
                {
                  "close": "54.310001",
                  "date": "24"
              },
                {
                  "close": "52.5",
                  "date": "25"
              },
                {
                  "close": "55.299999",
                  "date": "26"
              },
                {
                  "close": "55.599998",
                  "date": "27"
              },
                {
                  "close": "55.490002",
                  "date": "28"
              },
                {
                  "close": "61.439999",
                  "date": "29"
              }
            ];

            var amznP = [{
                "close": "701.45333937",
                "date": "1"
            },
            {
                "close": "700.5889369",
                "date": "2"
            },
            {
                "close": "707.82148811",
                "date": "3"
            },
            {
                "close": "708.62946211",
                "date": "4"
            },
            {
                "close": "713.22404181",
                "date": "5"
            },
            {
                "close": "713.57198528",
                "date": "6"
            },
            {
                "close": "719.42172283",
                "date": "7"
            },
            {
                "close": "719.131495",
                "date": "8"
            },
            {
                "close": "722.61803366",
                "date": "9"
            },
            {
                "close": "725.27572652",
                "date": "10"
            },
            {
                "close": "726.19496212",
                "date": "11"
            },
            {
                "close": "725.41866459",
                "date": "12"
            },
            {
                "close": "726.09228078",
                "date": "13"
            },
            {
                "close": "724.56425479",
                "date": "14"
            },
            {
                "close": "717.82504388",
                "date": "15"
            },
            {
                "close": "717.31044687",
                "date": "16"
            },
            {
                "close": "719.54450791",
                "date": "17"
            },
            {
                "close": "712.56704487",
                "date": "18"
            },
            {
                "close": "710.79209622",
                "date": "19"
            },
            {
                "close": "715.98591504",
                "date": "20"
            },
            {
                "close": "716.05173655",
                "date": "21"
            },
            {
                "close": "714.24521611",
                "date": "22"
            },
            {
                "close": "715.92156187",
                "date": "23"
            },
            {
                "close": "702.70928573",
                "date": "24"
            },
            {
                "close": "695.2191615",
                "date": "25"
            },
            {
                "close": "703.53032485",
                "date": "26"
            },
            {
                "close": "717.30928459",
                "date": "27"
            },
            {
                "close": "716.64471279",
                "date": "28"
            },
            {
                "close": "725.4281145",
                "date": "29"
            }
          ];


            var amznA = [
              {
                "close": "696.75",
                "date": "1"
            },
              {
                "close": "704.200012",
                "date": "2"
            },
              {
                "close": "708.349976",
                "date": "3"
            },
              {
                "close": "714.909973",
                "date": "4"
            },
              {
                "close": "712.23999",
                "date": "5"
            },
              {
                "close": "722.789978",
                "date": "6"
            },
              {
                "close": "719.440002",
                "date": "7"
            },
              {
                "close": "728.23999",
                "date": "8"
            },
              {
                "close": "725.539978",
                "date": "9"
            },
              {
                "close": "726.72998",
                "date": "10"
            },
              {
                "close": "723.73999",
                "date": "11"
            },
              {
                "close": "726.640015",
                "date": "12"
            },
              {
                "close": "727.650024",
                "date": "13"
            },
              {
                "close": "717.909973",
                "date": "14"
            },
              {
                "close": "715.23999",
                "date": "15"
            },
              {
                "close": "719.299988",
                "date": "16"
            },
              {
                "close": "714.26001",
                "date": "17"
            },
              {
                "close": "717.51001",
                "date": "18"
            },
              {
                "close": "706.390015",
                "date": "19"
            },
              {
                "close": "714.01001",
                "date": "20"
            },
              {
                "close": "715.820007",
                "date": "21"
            },
              {
                "close": "710.599976",
                "date": "22"
            },
              {
                "close": "722.080017",
                "date": "23"
            },
              {
                "close": "698.960022",
                "date": "24"
            },
              {
                "close": "691.359985",
                "date": "25"
            },
              {
                "close": "707.950012",
                "date": "26"
            },
              {
                "close": "715.599976",
                "date": "27"
            },
              {
                "close": "715.619995",
                "date": "28"
            },
              {
                "close": "725.679993",
                "date": "29"
            }
          ];
          var anipP = [{
              "close": "49.89518014",
              "date": "1"
          },
          {
              "close": "49.35016072",
              "date": "2"
          },
          {
              "close": "51.61325967",
              "date": "3"
          },
          {
              "close": "52.12901916",
              "date": "4"
          },
          {
              "close": "52.17987981",
              "date": "5"
          },
          {
              "close": "53.55844019",
              "date": "6"
          },
          {
              "close": "54.75040006",
              "date": "7"
          },
          {
              "close": "55.30432048",
              "date": "8"
          },
          {
              "close": "55.14756004",
              "date": "9"
          },
          {
              "close": "55.3369204",
              "date": "10"
          },
          {
              "close": "55.49084019",
              "date": "11"
          },
          {
              "close": "55.15761995",
              "date": "12"
          },
          {
              "close": "55.12849927",
              "date": "13"
          },
          {
              "close": "52.52719991",
              "date": "14"
          },
          {
              "close": "53.62887987",
              "date": "15"
          },
          {
              "close": "54.05102048",
              "date": "16"
          },
          {
              "close": "55.55627988",
              "date": "17"
          },
          {
              "close": "55.39025996",
              "date": "18"
          },
          {
              "close": "53.80902001",
              "date": "19"
          },
          {
              "close": "53.53362084",
              "date": "20"
          },
          {
              "close": "51.73103987",
              "date": "21"
          },
          {
              "close": "52.80314002",
              "date": "22"
          },
          {
              "close": "55.65742065",
              "date": "23"
          },
          {
              "close": "53.23814013",
              "date": "24"
          },
          {
              "close": "53.67432062",
              "date": "25"
          },
          {
              "close": "55.25353997",
              "date": "26"
          },
          {
              "close": "56.67916024",
              "date": "27"
          },
          {
              "close": "55.73507997",
              "date": "28"
          },
          {
              "close": "57.11150073",
              "date": "29"
          }
        ];


          var anipA = [
            {
              "close": "49.200001",
              "date": "1"
          },
            {
              "close": "50.09",
              "date": "2"
          },
            {
              "close": "52.049999",
              "date": "3"
          },
            {
              "close": "51.650002",
              "date": "4"
          },
            {
              "close": "52.279999",
              "date": "5"
          },
            {
              "close": "54.150002",
              "date": "6"
          },
            {
              "close": "54.75",
              "date": "7"
          },
            {
              "close": "56.150002",
              "date": "8"
          },
            {
              "close": "54.57",
              "date": "9"
          },
            {
              "close": "55.759998",
              "date": "10"
          },
            {
              "close": "55.52",
              "date": "11"
          },
            {
              "close": "55.799999",
              "date": "12"
          },
            {
              "close": "53.689999",
              "date": "13"
          },
            {
              "close": "52.049999",
              "date": "14"
          },
            {
              "close": "53.189999",
              "date": "15"
          },
            {
              "close": "54.810001",
              "date": "16"
          },
            {
              "close": "55.490002",
              "date": "17"
          },
            {
              "close": "56.009998",
              "date": "18"
          },
            {
              "close": "52.84",
              "date": "19"
          },
            {
              "close": "53.09",
              "date": "20"
          },
            {
              "close": "51.360001",
              "date": "21"
          },
            {
              "close": "52.790001",
              "date": "22"
          },
            {
              "close": "56.27",
              "date": "23"
          },
            {
              "close": "54.34",
              "date": "24"
          },
            {
              "close": "52.549999",
              "date": "25"
          },
            {
              "close": "57.0",
              "date": "26"
          },
            {
              "close": "56.18",
              "date": "27"
          },
            {
              "close": "55.82",
              "date": "28"
          },
            {
              "close": "57.310001",
              "date": "29"
          }
        ];

        var fbP = [{
            "close": "117.01297869",
            "date": "1"
        },
        {
            "close": "116.90744004",
            "date": "2"
        },
        {
            "close": "117.99827818",
            "date": "3"
        },
        {
            "close": "118.76591839",
            "date": "4"
        },
        {
            "close": "119.51745896",
            "date": "5"
        },
        {
            "close": "119.37569855",
            "date": "6"
        },
        {
            "close": "118.37131868",
            "date": "7"
        },
        {
            "close": "118.92041888",
            "date": "8"
        },
        {
            "close": "118.3284788",
            "date": "9"
        },
        {
            "close": "118.87867975",
            "date": "10"
        },
        {
            "close": "118.72623957",
            "date": "11"
        },
        {
            "close": "117.94841946",
            "date": "12"
        },
        {
            "close": "118.26525976",
            "date": "13"
        },
        {
            "close": "117.35239923",
            "date": "14"
        },
        {
            "close": "115.24581881",
            "date": "15"
        },
        {
            "close": "114.37149909",
            "date": "16"
        },
        {
            "close": "114.65567891",
            "date": "17"
        },
        {
            "close": "113.94110014",
            "date": "18"
        },
        {
            "close": "113.98885965",
            "date": "19"
        },
        {
            "close": "113.68661916",
            "date": "20"
        },
        {
            "close": "114.55705947",
            "date": "21"
        },
        {
            "close": "114.31125952",
            "date": "22"
        },
        {
            "close": "114.34186068",
            "date": "23"
        },
        {
            "close": "111.97605939",
            "date": "24"
        },
        {
            "close": "109.69881947",
            "date": "25"
        },
        {
            "close": "111.78249941",
            "date": "26"
        },
        {
            "close": "113.65898073",
            "date": "27"
        },
        {
            "close": "114.45201978",
            "date": "28"
        },
        {
            "close": "114.6978609",
            "date": "29"
        }
      ];


        var fbA = [
          {
            "close": "115.970001",
            "date": "1"
        },
          {
            "close": "117.699997",
            "date": "2"
        },
          {
            "close": "117.889999",
            "date": "3"
        },
          {
            "close": "119.470001",
            "date": "4"
        },
          {
            "close": "119.379997",
            "date": "5"
        },
          {
            "close": "118.809998",
            "date": "6"
        },
          {
            "close": "118.779999",
            "date": "7"
        },
          {
            "close": "118.93",
            "date": "8"
        },
          {
            "close": "118.470001",
            "date": "9"
        },
          {
            "close": "118.790001",
            "date": "10"
        },
          {
            "close": "117.760002",
            "date": "11"
        },
          {
            "close": "118.389999",
            "date": "12"
        },
          {
            "close": "118.559998",
            "date": "13"
        },
          {
            "close": "116.620003",
            "date": "14"
        },
          {
            "close": "113.949997",
            "date": "15"
        },
          {
            "close": "114.940002",
            "date": "16"
        },
          {
            "close": "114.599998",
            "date": "17"
        },
          {
            "close": "114.389999",
            "date": "18"
        },
          {
            "close": "113.019997",
            "date": "19"
        },
          {
            "close": "113.370003",
            "date": "20"
        },
          {
            "close": "114.379997",
            "date": "21"
        },
          {
            "close": "113.910004",
            "date": "22"
        },
          {
            "close": "115.080002",
            "date": "23"
        },
          {
            "close": "112.080002",
            "date": "24"
        },
          {
            "close": "108.970001",
            "date": "25"
        },
          {
            "close": "112.699997",
            "date": "26"
        },
          {
            "close": "114.160004",
            "date": "27"
        },
          {
            "close": "114.279999",
            "date": "28"
        },
          {
            "close": "114.190002",
            "date": "29"
        }
      ];
      var googlP = [{
          "close": "719.85364242",
          "date": "1"
      },
      {
          "close": "730.17983435",
          "date": "2"
      },
      {
          "close": "739.51298193",
          "date": "3"
      },
      {
          "close": "738.75403094",
          "date": "4"
      },
      {
          "close": "744.88526269",
          "date": "5"
      },
      {
          "close": "747.96235934",
          "date": "6"
      },
      {
          "close": "749.28301541",
          "date": "7"
      },
      {
          "close": "744.85151522",
          "date": "8"
      },
      {
          "close": "738.75577275",
          "date": "9"
      },
      {
          "close": "732.09345697",
          "date": "10"
      },
      {
          "close": "737.76337196",
          "date": "11"
      },
      {
          "close": "741.27213821",
          "date": "12"
      },
      {
          "close": "742.31953684",
          "date": "13"
      },
      {
          "close": "734.4457033",
          "date": "14"
      },
      {
          "close": "733.5302035",
          "date": "15"
      },
      {
          "close": "731.7108194",
          "date": "16"
      },
      {
          "close": "734.8748841",
          "date": "17"
      },
      {
          "close": "720.59077023",
          "date": "18"
      },
      {
          "close": "708.08010357",
          "date": "19"
      },
      {
          "close": "711.70297818",
          "date": "20"
      },
      {
          "close": "711.89051462",
          "date": "21"
      },
      {
          "close": "710.16019979",
          "date": "22"
      },
      {
          "close": "705.16490386",
          "date": "23"
      },
      {
          "close": "700.77934585",
          "date": "24"
      },
      {
          "close": "676.87435374",
          "date": "25"
      },
      {
          "close": "689.24969919",
          "date": "26"
      },
      {
          "close": "695.14622404",
          "date": "27"
      },
      {
          "close": "697.02611881",
          "date": "28"
      },
      {
          "close": "711.31959941",
          "date": "29"
      }
    ];


      var googlA = [
        {
          "close": "717.25",
          "date": "1"
      },
        {
          "close": "733.030029",
          "date": "2"
      },
        {
          "close": "738.099976",
          "date": "3"
      },
        {
          "close": "736.929993",
          "date": "4"
      },
        {
          "close": "747.599976",
          "date": "5"
      },
        {
          "close": "748.849976",
          "date": "6"
      },
        {
          "close": "748.460022",
          "date": "7"
      },
        {
          "close": "744.27002",
          "date": "8"
      },
        {
          "close": "735.859985",
          "date": "9"
      },
        {
          "close": "730.059998",
          "date": "10"
      },
        {
          "close": "731.090027",
          "date": "11"
      },
        {
          "close": "742.929993",
          "date": "12"
      },
        {
          "close": "742.52002",
          "date": "13"
      },
        {
          "close": "733.190002",
          "date": "14"
      },
        {
          "close": "731.880005",
          "date": "15"
      },
        {
          "close": "733.25",
          "date": "16"
      },
        {
          "close": "732.190002",
          "date": "17"
      },
        {
          "close": "724.25",
          "date": "18"
      },
        {
          "close": "704.25",
          "date": "19"
      },
        {
          "close": "706.130005",
          "date": "20"
      },
        {
          "close": "708.880005",
          "date": "21"
      },
        {
          "close": "710.469971",
          "date": "22"
      },
        {
          "close": "714.869995",
          "date": "23"
      },
        {
          "close": "685.200012",
          "date": "24"
      },
        {
          "close": "681.140015",
          "date": "25"
      },
        {
          "close": "691.26001",
          "date": "26"
      },
        {
          "close": "695.190002",
          "date": "27"
      },
        {
          "close": "703.530029",
          "date": "28"
      },
        {
          "close": "710.25",
          "date": "29"
      }
    ];
    var kiteP = [{
        "close": "48.12906007",
        "date": "1"
    },
    {
        "close": "48.16081976",
        "date": "2"
    },
    {
        "close": "47.94698027",
        "date": "3"
    },
    {
        "close": "48.04211911",
        "date": "4"
    },
    {
        "close": "47.60114002",
        "date": "5"
    },
    {
        "close": "49.54667916",
        "date": "6"
    },
    {
        "close": "51.07243966",
        "date": "7"
    },
    {
        "close": "53.24170004",
        "date": "8"
    },
    {
        "close": "52.27906026",
        "date": "9"
    },
    {
        "close": "55.9791604",
        "date": "10"
    },
    {
        "close": "56.79037993",
        "date": "11"
    },
    {
        "close": "55.74105999",
        "date": "12"
    },
    {
        "close": "54.5631997",
        "date": "13"
    },
    {
        "close": "51.17365959",
        "date": "14"
    },
    {
        "close": "51.66293965",
        "date": "15"
    },
    {
        "close": "50.48341923",
        "date": "16"
    },
    {
        "close": "51.42277954",
        "date": "17"
    },
    {
        "close": "51.54695967",
        "date": "18"
    },
    {
        "close": "50.91438012",
        "date": "19"
    },
    {
        "close": "50.86089941",
        "date": "20"
    },
    {
        "close": "50.40249991",
        "date": "21"
    },
    {
        "close": "50.74114003",
        "date": "22"
    },
    {
        "close": "51.68228065",
        "date": "23"
    },
    {
        "close": "50.84465953",
        "date": "24"
    },
    {
        "close": "49.67329976",
        "date": "25"
    },
    {
        "close": "50.55449974",
        "date": "26"
    },
    {
        "close": "51.38209973",
        "date": "27"
    },
    {
        "close": "49.99481969",
        "date": "28"
    },
    {
        "close": "50.75742063",
        "date": "29"
    }
  ];


    var kiteA = [
      {
        "close": "48.18",
        "date": "1"
    },
      {
        "close": "48.200001",
        "date": "2"
    },
      {
        "close": "48.009998",
        "date": "3"
    },
      {
        "close": "47.810001",
        "date": "4"
    },
      {
        "close": "47.790001",
        "date": "5"
    },
      {
        "close": "51.25",
        "date": "6"
    },
      {
        "close": "50.869999",
        "date": "7"
    },
      {
        "close": "54.869999",
        "date": "8"
    },
      {
        "close": "52.080002",
        "date": "9"
    },
      {
        "close": "57.419998",
        "date": "10"
    },
      {
        "close": "56.060001",
        "date": "11"
    },
      {
        "close": "56.18",
        "date": "12"
    },
      {
        "close": "53.419998",
        "date": "13"
    },
      {
        "close": "51.299999",
        "date": "14"
    },
      {
        "close": "50.939999",
        "date": "15"
    },
      {
        "close": "50.540001",
        "date": "16"
    },
      {
        "close": "52.580002",
        "date": "17"
    },
      {
        "close": "52.490002",
        "date": "18"
    },
      {
        "close": "49.73",
        "date": "19"
    },
      {
        "close": "51.09",
        "date": "20"
    },
      {
        "close": "50.91",
        "date": "21"
    },
      {
        "close": "51.139999",
        "date": "22"
    },
      {
        "close": "53.110001",
        "date": "23"
    },
      {
        "close": "50.740002",
        "date": "24"
    },
      {
        "close": "49.389999",
        "date": "25"
    },
      {
        "close": "50.880001",
        "date": "26"
    },
      {
        "close": "50.990002",
        "date": "27"
    },
      {
        "close": "50.0",
        "date": "28"
    },
      {
        "close": "50.950001",
        "date": "29"
    }
  ];
  var msftP = [{
      "close": "50.38346015",
      "date": "1"
  },
  {
      "close": "50.73533948",
      "date": "2"
  },
  {
      "close": "52.21801983",
      "date": "3"
  },
  {
      "close": "51.68211991",
      "date": "4"
  },
  {
      "close": "52.07085937",
      "date": "5"
  },
  {
      "close": "52.53201975",
      "date": "6"
  },
  {
      "close": "52.8475001",
      "date": "7"
  },
  {
      "close": "52.43471927",
      "date": "8"
  },
  {
      "close": "52.12325946",
      "date": "9"
  },
  {
      "close": "52.28081996",
      "date": "10"
  },
  {
      "close": "52.45795984",
      "date": "11"
  },
  {
      "close": "52.11221959",
      "date": "12"
  },
  {
      "close": "51.82412006",
      "date": "13"
  },
  {
      "close": "51.67436013",
      "date": "14"
  },
  {
      "close": "50.1049198",
      "date": "15"
  },
  {
      "close": "49.91715933",
      "date": "16"
  },
  {
      "close": "49.9847798",
      "date": "17"
  },
  {
      "close": "49.86169929",
      "date": "18"
  },
  {
      "close": "50.0807995",
      "date": "19"
  },
  {
      "close": "50.29122012",
      "date": "20"
  },
  {
      "close": "51.08154015",
      "date": "21"
  },
  {
      "close": "51.17895956",
      "date": "22"
  },
  {
      "close": "51.74613993",
      "date": "23"
  },
  {
      "close": "50.34523974",
      "date": "24"
  },
  {
      "close": "48.71423988",
      "date": "25"
  },
  {
      "close": "48.92143991",
      "date": "26"
  },
  {
      "close": "50.27226",
      "date": "27"
  },
  {
      "close": "51.00556014",
      "date": "28"
  },
  {
      "close": "51.17186009",
      "date": "29"
  }
];


  var msftA = [
    {
      "close": "50.029999",
      "date": "1"
  },
    {
      "close": "51.59",
      "date": "2"
  },
    {
      "close": "52.119999",
      "date": "3"
  },
    {
      "close": "51.889999",
      "date": "4"
  },
    {
      "close": "52.32",
      "date": "5"
  },
    {
      "close": "53.0",
      "date": "6"
  },
    {
      "close": "52.849998",
      "date": "7"
  },
    {
      "close": "52.48",
      "date": "8"
  },
    {
      "close": "51.790001",
      "date": "9"
  },
    {
      "close": "52.130001",
      "date": "10"
  },
    {
      "close": "52.099998",
      "date": "11"
  },
    {
      "close": "52.040001",
      "date": "12"
  },
    {
      "close": "51.619999",
      "date": "13"
  },
    {
      "close": "51.48",
      "date": "14"
  },
    {
      "close": "50.139999",
      "date": "15"
  },
    {
      "close": "49.830002",
      "date": "16"
  },
    {
      "close": "49.689999",
      "date": "17"
  },
    {
      "close": "50.389999",
      "date": "18"
  },
    {
      "close": "50.130001",
      "date": "19"
  },
    {
      "close": "50.07",
      "date": "20"
  },
    {
      "close": "51.189999",
      "date": "21"
  },
    {
      "close": "50.990002",
      "date": "22"
  },
    {
      "close": "51.91",
      "date": "23"
  },
    {
      "close": "49.830002",
      "date": "24"
  },
    {
      "close": "48.43",
      "date": "25"
  },
    {
      "close": "49.439999",
      "date": "26"
  },
    {
      "close": "50.540001",
      "date": "27"
  },
    {
      "close": "51.169998",
      "date": "28"
  },
    {
      "close": "51.16",
      "date": "29"
  }
];
var pmcP = [{
    "close": "26.27045961",
    "date": "1"
},
{
    "close": "26.46594002",
    "date": "2"
},
{
    "close": "26.82045986",
    "date": "3"
},
{
    "close": "26.63698005",
    "date": "4"
},
{
    "close": "26.4645196",
    "date": "5"
},
{
    "close": "26.52745963",
    "date": "6"
},
{
    "close": "26.54653983",
    "date": "7"
},
{
    "close": "26.64707985",
    "date": "8"
},
{
    "close": "26.11909997",
    "date": "9"
},
{
    "close": "25.84686048",
    "date": "10"
},
{
    "close": "26.4293201",
    "date": "11"
},
{
    "close": "26.97372001",
    "date": "12"
},
{
    "close": "27.29993999",
    "date": "13"
},
{
    "close": "26.63911965",
    "date": "14"
},
{
    "close": "25.95896022",
    "date": "15"
},
{
    "close": "25.53586029",
    "date": "16"
},
{
    "close": "25.22077992",
    "date": "17"
},
{
    "close": "24.71003989",
    "date": "18"
},
{
    "close": "24.45832022",
    "date": "19"
},
{
    "close": "24.70142019",
    "date": "20"
},
{
    "close": "24.45488034",
    "date": "21"
},
{
    "close": "24.6912397",
    "date": "22"
},
{
    "close": "24.44338009",
    "date": "23"
},
{
    "close": "23.44262",
    "date": "24"
},
{
    "close": "23.6024996",
    "date": "25"
},
{
    "close": "23.57015963",
    "date": "26"
},
{
    "close": "23.97708034",
    "date": "27"
},
{
    "close": "24.4090402",
    "date": "28"
},
{
    "close": "24.99594068",
    "date": "29"
}
];


var pmcA = [
  {
    "close": "26.16",
    "date": "1"
},
  {
    "close": "26.85",
    "date": "2"
},
  {
    "close": "26.719999",
    "date": "3"
},
  {
    "close": "26.389999",
    "date": "4"
},
  {
    "close": "26.629999",
    "date": "5"
},
  {
    "close": "26.57",
    "date": "6"
},
  {
    "close": "26.719999",
    "date": "7"
},
  {
    "close": "26.459999",
    "date": "8"
},
  {
    "close": "26.280001",
    "date": "9"
},
  {
    "close": "25.809999",
    "date": "10"
},
  {
    "close": "26.35",
    "date": "11"
},
  {
    "close": "27.02",
    "date": "12"
},
  {
    "close": "27.09",
    "date": "13"
},
  {
    "close": "26.43",
    "date": "14"
},
  {
    "close": "25.75",
    "date": "15"
},
  {
    "close": "25.190001",
    "date": "16"
},
  {
    "close": "25.059999",
    "date": "17"
},
  {
    "close": "24.67",
    "date": "18"
},
  {
    "close": "24.190001",
    "date": "19"
},
  {
    "close": "24.629999",
    "date": "20"
},
  {
    "close": "24.629999",
    "date": "21"
},
  {
    "close": "24.41",
    "date": "22"
},
  {
    "close": "24.629999",
    "date": "23"
},
  {
    "close": "23.93",
    "date": "24"
},
  {
    "close": "23.25",
    "date": "25"
},
  {
    "close": "23.24",
    "date": "26"
},
  {
    "close": "24.26",
    "date": "27"
},
  {
    "close": "24.66",
    "date": "28"
},
  {
    "close": "25.030001",
    "date": "29"
}
];
var rareP = [{
    "close": "66.60065999",
    "date": "1"
},
{
    "close": "66.92168032",
    "date": "2"
},
{
    "close": "68.65006093",
    "date": "3"
},
{
    "close": "68.24691944",
    "date": "4"
},
{
    "close": "68.30225953",
    "date": "5"
},
{
    "close": "72.08563979",
    "date": "6"
},
{
    "close": "72.07353996",
    "date": "7"
},
{
    "close": "73.65121991",
    "date": "8"
},
{
    "close": "70.23930019",
    "date": "9"
},
{
    "close": "69.87111924",
    "date": "10"
},
{
    "close": "70.76611965",
    "date": "11"
},
{
    "close": "70.54953904",
    "date": "12"
},
{
    "close": "70.48085866",
    "date": "13"
},
{
    "close": "62.34890107",
    "date": "14"
},
{
    "close": "59.83379992",
    "date": "15"
},
{
    "close": "60.65587965",
    "date": "16"
},
{
    "close": "61.79672117",
    "date": "17"
},
{
    "close": "60.01475911",
    "date": "18"
},
{
    "close": "57.25668988",
    "date": "19"
},
{
    "close": "55.68111006",
    "date": "20"
},
{
    "close": "54.30704",
    "date": "21"
},
{
    "close": "53.44367992",
    "date": "22"
},
{
    "close": "52.35459961",
    "date": "23"
},
{
    "close": "49.23856097",
    "date": "24"
},
{
    "close": "47.53125972",
    "date": "25"
},
{
    "close": "49.80422",
    "date": "26"
},
{
    "close": "50.70130038",
    "date": "27"
},
{
    "close": "49.68920058",
    "date": "28"
},
{
    "close": "50.7158597",
    "date": "29"
}
];


var rareA = [
  {
    "close": "65.190002",
    "date": "1"
},
  {
    "close": "68.279999",
    "date": "2"
},
  {
    "close": "68.589996",
    "date": "3"
},
  {
    "close": "69.529999",
    "date": "4"
},
  {
    "close": "68.57",
    "date": "5"
},
  {
    "close": "73.099998",
    "date": "6"
},
  {
    "close": "70.57",
    "date": "7"
},
  {
    "close": "73.690002",
    "date": "8"
},
  {
    "close": "69.529999",
    "date": "9"
},
  {
    "close": "72.949997",
    "date": "10"
},
  {
    "close": "70.169998",
    "date": "11"
},
  {
    "close": "71.279999",
    "date": "12"
},
  {
    "close": "65.849998",
    "date": "13"
},
  {
    "close": "61.580002",
    "date": "14"
},
  {
    "close": "60.009998",
    "date": "15"
},
  {
    "close": "61.0",
    "date": "16"
},
  {
    "close": "62.639999",
    "date": "17"
},
  {
    "close": "59.759998",
    "date": "18"
},
  {
    "close": "54.990002",
    "date": "19"
},
  {
    "close": "54.5",
    "date": "20"
},
  {
    "close": "52.029999",
    "date": "21"
},
  {
    "close": "52.400002",
    "date": "22"
},
  {
    "close": "51.950001",
    "date": "23"
},
  {
    "close": "49.169998",
    "date": "24"
},
  {
    "close": "47.259998",
    "date": "25"
},
  {
    "close": "50.73",
    "date": "26"
},
  {
    "close": "49.75",
    "date": "27"
},
  {
    "close": "48.91",
    "date": "28"
},
  {
    "close": "51.709999",
    "date": "29"
}
];
var treeP = [{
    "close": "72.89942009",
    "date": "1"
},
{
    "close": "77.62365922",
    "date": "2"
},
{
    "close": "80.1774602",
    "date": "3"
},
{
    "close": "78.39672006",
    "date": "4"
},
{
    "close": "80.64861983",
    "date": "5"
},
{
    "close": "82.06423892",
    "date": "6"
},
{
    "close": "82.51920002",
    "date": "7"
},
{
    "close": "86.54435906",
    "date": "8"
},
{
    "close": "85.78019888",
    "date": "9"
},
{
    "close": "87.14069936",
    "date": "10"
},
{
    "close": "89.81825996",
    "date": "11"
},
{
    "close": "91.0709809",
    "date": "12"
},
{
    "close": "88.17368044",
    "date": "13"
},
{
    "close": "86.95969987",
    "date": "14"
},
{
    "close": "83.12054001",
    "date": "15"
},
{
    "close": "76.56653924",
    "date": "16"
},
{
    "close": "75.24169941",
    "date": "17"
},
{
    "close": "73.64688042",
    "date": "18"
},
{
    "close": "74.44150224",
    "date": "19"
},
{
    "close": "73.65340117",
    "date": "20"
},
{
    "close": "78.18897814",
    "date": "21"
},
{
    "close": "77.28679957",
    "date": "22"
},
{
    "close": "78.76091814",
    "date": "23"
},
{
    "close": "76.58343924",
    "date": "24"
},
{
    "close": "79.37456041",
    "date": "25"
},
{
    "close": "82.15805936",
    "date": "26"
},
{
    "close": "84.2188594",
    "date": "27"
},
{
    "close": "87.58515917",
    "date": "28"
},
{
    "close": "90.91548106",
    "date": "29"
}
];


var treeA = [
  {
    "close": "74.620003",
    "date": "1"
},
  {
    "close": "81.0",
    "date": "2"
},
  {
    "close": "78.099998",
    "date": "3"
},
  {
    "close": "79.519997",
    "date": "4"
},
  {
    "close": "81.089996",
    "date": "5"
},
  {
    "close": "83.25",
    "date": "6"
},
  {
    "close": "83.959999",
    "date": "7"
},
  {
    "close": "87.849998",
    "date": "8"
},
  {
    "close": "85.980003",
    "date": "9"
},
  {
    "close": "88.029999",
    "date": "10"
},
  {
    "close": "89.510002",
    "date": "11"
},
  {
    "close": "91.150002",
    "date": "12"
},
  {
    "close": "87.93",
    "date": "13"
},
  {
    "close": "85.769997",
    "date": "14"
},
  {
    "close": "81.419998",
    "date": "15"
},
  {
    "close": "74.129997",
    "date": "16"
},
  {
    "close": "74.260002",
    "date": "17"
},
  {
    "close": "74.160004",
    "date": "18"
},
  {
    "close": "72.25",
    "date": "19"
},
  {
    "close": "76.959999",
    "date": "20"
},
  {
    "close": "76.120003",
    "date": "21"
},
  {
    "close": "76.459999",
    "date": "22"
},
  {
    "close": "79.230003",
    "date": "23"
},
  {
    "close": "78.400002",
    "date": "24"
},
  {
    "close": "79.440002",
    "date": "25"
},
  {
    "close": "81.239998",
    "date": "26"
},
  {
    "close": "84.720001",
    "date": "27"
},
  {
    "close": "88.330002",
    "date": "28"
},
  {
    "close": "92.839996",
    "date": "29"
}
];




                var vis = d3.select("#visualisation"),
                    WIDTH = 1000,
                    HEIGHT = 500,
                    MARGINS = {
                        top: 20,
                        right: 20,
                        bottom: 20,
                        left: 50
                    },

                    xScale = d3.scale.linear().range([MARGINS.left, WIDTH - MARGINS.right]).domain([0, 30]),

                    yScale = d3.scale.linear().range([HEIGHT - MARGINS.top, MARGINS.bottom]).domain([44, 100]),

                    xAxis = d3.svg.axis()
                    .scale(xScale),

                    yAxis = d3.svg.axis()
                    .scale(yScale)
                    .orient("left");





                vis.append("svg:g")
                    .attr("class", "x axis")
                    .attr("transform", "translate(0," + (HEIGHT - MARGINS.bottom) + ")")
                    .call(xAxis);

                vis.append("svg:g")
                    .attr("class", "y axis")
                    .attr("transform", "translate(" + (MARGINS.left) + ",0)")
                    .call(yAxis);

                var lineGen = d3.svg.line()
                    .x(function(d) {
                        return xScale(d.date);
                    })
                    .y(function(d) {
                        return yScale(d.close);
                    })
                    .interpolate("basis");

                vis.append('svg:path')
                    .attr('d', lineGen(aaplP))
                    .attr('stroke', 'green')
                    .attr('stroke-width', 2)
                    .attr('fill', 'none');

                vis.append('svg:path')
                    .attr('d', lineGen(aaplA))
                    .attr('stroke', 'blue')
                    .attr('stroke-width', 2)
                    .attr('fill', 'none');

                vis.append('svg:path')
                    .attr('d', lineGen(alnyP))
                    .attr('stroke', 'rgb(233, 107, 07)')
                    .attr('stroke-width', 2)
                    .attr('fill', 'none');

                vis.append('svg:path')
                    .attr('d', lineGen(alnyA))
                    .attr('stroke', 'rgba(111, 156, 182, 0.82)')
                    .attr('stroke-width', 2)
                    .attr('fill', 'none');

                vis.append('svg:path')
                    .attr('d', lineGen(amznP))
                    .attr('stroke', 'violet')
                    .attr('stroke-width', 2)
                    .attr('fill', 'none');

                vis.append('svg:path')
                    .attr('d', lineGen(amznA))
                    .attr('stroke', 'red')
                    .attr('stroke-width', 2)
                    .attr('fill', 'none');

                vis.append('svg:path')
                    .attr('d', lineGen(anipP))
                    .attr('stroke', 'rgb(33, 07, 07)')
                    .attr('stroke-width', 2)
                    .attr('fill', 'none');

                vis.append('svg:path')
                    .attr('d', lineGen(anipA))
                    .attr('stroke', 'rgba(111, 106, 102, 0.82)')
                    .attr('stroke-width', 2)
                    .attr('fill', 'none');

                vis.append('svg:path')
                    .attr('d', lineGen(fbP))
                    .attr('stroke', 'gray')
                    .attr('stroke-width', 2)
                    .attr('fill', 'none');

                vis.append('svg:path')
                    .attr('d', lineGen(fbA))
                    .attr('stroke', 'brown')
                    .attr('stroke-width', 2)
                    .attr('fill', 'none');

                vis.append('svg:path')
                    .attr('d', lineGen(googlP))
                    .attr('stroke', 'gold')
                    .attr('stroke-width', 2)
                    .attr('fill', 'none');

                vis.append('svg:path')
                    .attr('d', lineGen(googlA))
                    .attr('stroke', 'indigo')
                    .attr('stroke-width', 2)
                    .attr('fill', 'none');

                vis.append('svg:path')
                    .attr('d', lineGen(kiteP))
                    .attr('stroke', 'rgb(233, 107, 207)')
                    .attr('stroke-width', 2)
                    .attr('fill', 'none');

                vis.append('svg:path')
                    .attr('d', lineGen(kiteA))
                    .attr('stroke', 'rgba(111, 250, 82, 1)')
                    .attr('stroke-width', 2)
                    .attr('fill', 'none');

                vis.append('svg:path')
                    .attr('d', lineGen(msftP))
                    .attr('stroke', 'turquoise')
                    .attr('stroke-width', 2)
                    .attr('fill', 'none');

                vis.append('svg:path')
                    .attr('d', lineGen(msftA))
                    .attr('stroke', 'navy')
                    .attr('stroke-width', 2)
                    .attr('fill', 'none');

                vis.append('svg:path')
                    .attr('d', lineGen(pmcP))
                    .attr('stroke', 'rgb(133, 157, 107)')
                    .attr('stroke-width', 2)
                    .attr('fill', 'none');

                vis.append('svg:path')
                    .attr('d', lineGen(pmcA))
                    .attr('stroke', 'rgba(71, 56, 82, 0.82)')
                    .attr('stroke-width', 2)
                    .attr('fill', 'none');

                vis.append('svg:path')
                    .attr('d', lineGen(rareP))
                    .attr('stroke', 'rgb(133, 207, 107)')
                    .attr('stroke-width', 2)
                    .attr('fill', 'none');

                vis.append('svg:path')
                    .attr('d', lineGen(rareA))
                    .attr('stroke', 'rgba(171, 56, 12, 0.82)')
                    .attr('stroke-width', 2)
                    .attr('fill', 'none');

                vis.append('svg:path')
                    .attr('d', lineGen(treeP))
                    .attr('stroke', 'rgb(133, 207, 207)')
                    .attr('stroke-width', 2)
                    .attr('fill', 'none');

                vis.append('svg:path')
                    .attr('d', lineGen(treeA))
                    .attr('stroke', 'rgba(171, 56, 112, 0.82)')
                    .attr('stroke-width', 2)
                    .attr('fill', 'none');
            }
            InitChart();
        </script>
    </div>

</div>
